@use "../../App.scss" as *;

.services {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;
        // width: 40%;
        // background-color: red;

        @include mobile {
            align-self: right;
            text-align: center;
            flex-direction: column;
            padding-top: 45px;
            // background-color: red;
        }

        p {
            font-weight: 200;
            font-size: 20px;
            color: rgb(208, 205, 205);
            text-align: right;

            @include mobile {
                font-size: 17px;
                // background-color: green;
            }
        }

        hr {
            width: 300px;
            border: none;
            border-top: 0.5px solid rgb(208, 205, 205);

            @include mobile {
                width: 270px;




            }
        }
    }

    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            width: 100%;

        }

        .title {

            display: flex;
            gap: 50px;
            align-items: center;

            @include mobile {
                flex-direction: column;
                text-align: center;
                gap: 15px;

            }


            img {
                width: 250px;
                height: 80px;
                border-radius: 50px;
                object-fit: cover;

                @include mobile {
                    width: 200px;
                    height: 80px;
                }
            }

            h1 {
                font-size: 88px;
                font-weight: 100;

                @include mobile {
                    font-size: 45px;

                }


                b {
                    font-weight: 600;
                }
            }

            button {
                width: 250px;
                height: 90px;
                border-radius: 50px;
                background-color: orange;
                border: none;
                font-size: 24px;
                font-weight: 600;
                cursor: pointer;

                @include mobile {
                    width: 200px;
                    font-size: 16px;
                    height: 60px;
                }
            }
        }
    }

    .listContainer {
        flex: 2;
        display: flex;
        // background-color: green;
        max-width: 1166px;
        margin: auto;

        @include mobile {
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            // background-color: green;

        }

        .box {
            padding: 15px 25px;
            margin: 15px;
            border: 0.5px solid rgb(208, 205, 205);
            border-radius: 20px;

            @include mobile {
                padding: 10px;
                margin: 10px;
                width: 43%;


            }

            h2 {
                font-size: 25px;
                display: flex;
                justify-self: center;
                margin-top: 10px;
                margin: auto;
                margin-bottom: 5px;

                @include mobile {
                    font-size: 20px;
                    text-align: center;
                }
            }


            p {
                font-size: 13px;
                line-height: 25px;

                @include mobile {
                    font-size: 15px;
                    text-align: center;
                }
            }

            button {
                padding: 3px 8PX;
                // width: 60px;
                font-size: 12px;
                border-radius: 15px;
                margin-top: 10px;
                background: Gray;
                font-weight: 500;
                border: 1px solid gray;
                cursor: pointer;
                color: white;

                @include mobile {
                    display: block; // 👈 IMPORTANT
                    margin: 10px auto 0;
                }
            }
        }
    }
}