.hero {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;
    overflow: hidden;

    .wrapper {
        max-width: 1166px;
        height: 100%;
        margin: auto;



        .textContainer {
            height: 100%;
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;


            h2 {
                font-size: 40px;
                color: rebeccapurple;
                letter-spacing: 10px;
            }

            h1 {
                font-size: 88px;
            }

            .buttons {
                button {
                    padding: 15px 20px;
                    border: 1px solid white;
                    border-radius: 15px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    font-weight: 400;
                    font-size: 20px;
                    cursor: pointer;

                }
            }

            img {
                width: 60px;
            }

        }

    }

    .imageContainer {
        height: 100%;
        position: absolute;
        top: 70px;
        right: 0;
        overflow: hidden;
        display: flex;
        align-items: flex-end;

        img {
            height: 780px;
        }
    }


    .slidingTextContainer {

        


            position: absolute;
            font-size: 50vh;
            bottom: -130px;
            white-space: nowrap;
            color: #ffffff09;
            font-weight: 700;
            overflow: hidden;
            // background-color: red;
            margin-right: 50px;
        



    }







}