@use "../../App.scss" as *;

.hero {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;
    overflow: hidden;

    .wrapper {
        max-width: 1166px;
        height: 100%;
        margin: auto;



        .textContainer {
            height: 100%;
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            @include mobile {
                width: 100%;
                height: 50%;
                gap: 20px;
                align-items: center;
                text-align: center;

            }


            h2 {
                font-size: 35px;
                color: rebeccapurple;
                letter-spacing: 10px;

                @include mobile {
                    font-size: 22px;

                }
            }

            h1 {
                font-size: 78px;

                @include mobile {
                    font-size: 36px;
                }
            }

            .buttons {
                button {
                    padding: 10px 15px;
                    border: 2px solid white;
                    border-radius: 15px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    font-weight: 400;
                    font-size: 20px;
                    margin-top: 15px;
                   cursor: pointer;


                    @include mobile {
                        margin-inline: 8px;
                    }
                }
            }

            img {
                width: 70px;

                @include mobile {
                    width: 50px;
                }
            }

        }

    }

    .imageContainer {
        height: 100%;
        position: absolute;
        top: 70px;
        right: 0;
        overflow: hidden;
        display: flex;
        align-items: flex-end;

        @include mobile {
            height: 50%;
            width: 100%;
            bottom: 0px;
            top: unset;
            // background-color: red;

        }


        img {
            // height: 780px;
            height: 100%;
            width: 100%;
            object-fit: cover;

            @include mobile {
                height: 100%;
                width: 100%;
                // background-color: green;
                object-fit: contain;

            }




        }
    }


    .slidingTextContainer {




        position: absolute;
        font-size: 50vh;
        bottom: -130px;
        white-space: nowrap;
        color: #ffffff09;
        font-weight: 700;
        overflow: hidden;
        // background-color: red;
        margin-right: 50px;
pointer-events: none;
       


    }







}