@use "../../App.scss" as *;


.navbar {
    height: 100px;
    // background-color: green;

    .wrapper {
        max-width: 1166px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        // background-color: red;
        position: static;

        @include mobile {
            justify-content: flex-end;
            padding: 20px;
        }


        span {
            font-weight: bold;
            font-size: 40px;


            @include mobile {
                display: none;
            }
        }

        .social {
            display: flex;
            gap: 20px;
            z-index: 88;

            img {
                width: 40px;
            }
        }
    }
}

